%li.font-regular= link_to 'OUR BLOGS', '#'
%li= link_to 'Home', '#'
%li= link_to 'News', '#'
%li= link_to 'Finance', '#'
%li= link_to 'Ask', '#'
%li= link_to 'Love', '#'
%li= link_to 'Christian Walk', '#'
%li= link_to 'Miscellaneous', '#'
%li= link_to 'Media', '#'
