!!!
%html
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    %title LoveRealm
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %p.notice= notice
    %p.alert= alert
    %header#top.navbar.navbar-fixed-top
      .row.header-top
        .large.container
          %nav.top-menu.left
            %ul
              = render 'layouts/main_nav'

          #social.left.social-list
            %ul.main-nav
              = render 'layouts/social_nav'

      .nav-collapse.collapse
        %ul.nav
          %li
            = render 'layouts/side_nav'

      .header-bottom.large.container
        %h1#logo.pull-left
          = link_to '#' do
            = image_tag "logo.png"

        .seek
          %form
            %input.search{name: "", placeholder: "Seek and you shall find!  (Mathew 7:7)", type: "text", value: ""}/
            %input.magnifier{name: "", placeholder: "", type: "submit", value: ""}/

        .pull-right
          %ul.login
            = render 'layouts/login'

    .container.content-container
      %section.side-column.col-lg-2
        %nav.side-nav
          %ul
            = render 'layouts/side_nav'

      %section.main-column.col-lg-10
        = yield




